<div class="container mb-0">
  <footer class="py-3 my-0 mb-o">
    <p class="text-center text-body-secondary mb-0 custom-footer">© <%=new Date().getFullYear();%> <a href="https://github.com/Ciocolici/" target="_blank" class="custom-link">Ciocolici</a></p>
  </footer>
</div>
</div>
</main>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>